# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\EKE\M5AWPK\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
